.bg-app{
    background-color: #eaeaea;

}

i{
    color: gray;
    font-size: 1.1rem;
}

input.search-bar{
    width: 98%;
}

div.contacts{
    height: 95vh;
}

div.contact{
    border-top: 1px solid lightgray;
    width: 100%;
}

img.user-pic{
    border-radius: 50%;
    height: 2.2rem;
    margin: 5px;
}

div.user-chat{
    height: 95vh;
}

div.user-chat{
    border-left: 1px solid gray;
}

div.text-area{
    height: 85%;
    background-image: url(../img/mine.jpg);
    background-size: 320px;
}

div.notification{
    background-color: #8edafc;
}
