body{
    font-family: 'Lato', sans-serif;
    background-image: 
    linear-gradient(to bottom,
    #009688 0px,
    #009688 15vh,
    #dddbd1 15vh,
    #d2dbdc 100%);
}

main.boolzapp{
    height: 100vh;
}

/* GENERALI */
.message{
    font-size: .8rem;
    margin: .4rem;
    float: right;
    padding: .5rem .2rem .2rem .5rem;
    border-radius: .3rem;
    clear: both;
}

i{
    color: #b1b1b1;
}

/* SEZIONE CONTATTI */
div.contacts{
    background-color: #ffffff;
    height: 95vh;
}

div.user-info p{
    margin-top: 40%;
    font-size: .9rem;
}

div.top-bar-contacts{
    background-color: #eaeaea;
    height: 3rem;
}

div.top-bar-contacts img{
    margin: 3px 5px;
    border-radius: 50%;
}

/* SEZIONE NOTIFICHE */
div.notification{
    font-size: .7rem;
    background-color: #8edafc;
    height: 3.5rem;
}

div.notify-icon{
    margin-left: 10px;
    margin-right: 5px;
    position: relative;
    background-color: #ffffff;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

div.notify-icon i{
    font-size: 1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #8edafc;
}

div.notify-info :last-child{
    font-size: .6rem;
}

/* SEZIONE SEARCHBAR */
div.search-bar{
    background-color: #eaeaea;
    height: 2rem;
}

div.search-icon{
    align-self: center;
    background-color: #ffffff;
    height: 1.5rem;
    border-right: 1px solid lightgray;
}

div.search-bar input{
    padding-left: .5rem;
    width: 15.5rem;
    height: 1.5rem;
    font-size: .8rem;
    border: none;
}

div.contacts-list{
    height: calc(100% - 8.5rem);
}

div.contact{
    cursor: pointer;
    border-top: 1px solid lightgray;
    height: 3.2rem;
}

.clicked {
    background-color: #e9ebeb;
}

div.contact img{
    margin: 3px 10px;
    border-radius: 50%;
}

div.contact-info{
    width: 100%;
}

div.contact p{
    margin: 0;
    font-size: .9rem;
}

div.contact :last-child{
    font-size: .7rem;
}

/* SEZIONE CHAT */
div.chat{
    background-color: chartreuse;
    height: 95vh;
    border-left: 1px solid lightgray;
}

div.top-bar-chat{
    background-color: #eaeaea;
    height: 3rem;
}

div.top-bar-chat img{
    margin: 3px 10px;
    border-radius: 50%;
}

div.chat-contact-info p{
    margin: 0;
    font-size: .9rem;
}

div.chat-contact-info :last-child{
    font-size: .7rem;
}

div.main-chat{
    padding: 2rem 4rem;
    background-image: url(../img/mine.jpg);
    background-size: 320px;
    height: calc(100% - 6rem);
    overflow: scroll;
}

.green-text {
    float: right;
    background-color: #d5f9ba;
}

.white-text {
    float: left;
    background-color: #ffffff;
}

span.date{
    align-self: flex-end;
    color: gray;
    font-size: .6rem;
    margin-left: 2.5rem;
}

div.input-msg{
    background-color: #eaeaea;
    height: 3rem;
}

div.input-msg input{
    border: none;
    border-radius: 3px;
    height: 2rem;
    font-size: .8rem;
}